@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --border-color: #40BFEF;
    --hover-color: #2F3540
}

*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

main{
    width: 100vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

section h3{
    padding-bottom: 20px;
}

section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

section p{
    font-size: 13px;
    text-align: center;
}

section form label{
    padding-bottom: 8px;
    font-size: 14px;
}

.file-load{
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--border-color);
}

section form button{
    outline: none;
    border: 0;
    background-color: var(--border-color);
    color: white;
    height: 30px;
    border-radius: 15px;
    font-weight: 700;
}

section form button:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}


.file input{
    display: none;
}

.file label{
    display: block;
    border: 1px dotted var(--border-color);
    text-align: center;
    padding-top: 5px;
    cursor: pointer;

}

footer{
    width: 100vw;
    height: 3vh;
    text-align: right;
}

footer p{
    font-size: 12px;
    padding-right: 10px;
}