on: push
name: deploy

env:
    image_tag: ${{ github.ref == 'refs/heads/main' && 'pdfmerger:latest' || (github.ref == 'refs/heads/develop' && 'pdfmerger:beta') }}

jobs:
    deploy:
        name: Deploy MergePDF on Docker Hub
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v4
            -
                name: Login to Docker Hub
                uses: docker/login-action@v3
                with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            -
                name: Build and push
                uses: docker/build-push-action@v5
                with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: |
                    sebas1012/${{ env.image_tag }}
                        